<div class="container text-center">
   
   <h1>About page</h1>
   
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis similique, 
   asperiores ut dignissimos, quis nam soluta ipsa sapiente ipsum earum. Incidunt 
   rerum placeat, fuga doloremque! Ratione reprehenderit ducimus, distinctio beatae.</p>

</div>