<!DOCTYPE html>
<html>
   <head>
      
   </head>
   
   <body>
      <p>Sulle on kiri Skarabeus'i veebilehelt</p>
      <p>Saatja: <%= "#{ @name }" %>, <%= "#{ @email }." %></p>
      <p>Sõnum:</p>
      <p><%= "#{ @body }" %></p>
   </body>
   
</html>