/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
 

// Typograafia
h1, h2, h3 {
   font-family: 'Arvo', serif;
}


// Tausta gradient
.navbar,
.home-callout {
   // Gradient provided by @_ighosh at uiGradients.com
   background: #70e1f5;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


// Avaleht
.home-callout {
   color: darkslategrey;
   margin-top: -20px;
   padding-top: 50px;
   padding-bottom: 100px;
}


// Navigatsioon
.navbar {
   border: none;
}

.navbar-brand {
   font-family: 'Arvo', serif;
   font-weight: 700;
}

.navbar-brand > .fa-bug {
   margin-right: 6px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
   color: darkslategrey;
   &:hover {                  // SCSS! nested!
      color: black;
   }
}

/* tavaline CSS

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
   color: black;
}
*/

.navbar-default .navbar-toggle {
    &:hover {
      background-color: #ffd194;
      opacity: 0.86;
      border-color: antiquewhite;
    }
    &:focus {
       background-color: transparent;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: darkslategrey;
}






